<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="test">
    <insert id="insertStudent" parameterType="com.muller.beans.Student">
        insert into student(id,name,age,score) values(stu_seq.nextval,#{name},#{age},#{score})
    </insert>
</mapper>